[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-cors-headers = "*"
dj-database-url = "*"
gunicorn = "*"
django = "*"
psycopg2 = "*"
djangorestframework = "*"

[requires]
python_version = "3.7.3"
